.LogoLinksHeader {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.menu span {
    display: flex;
    width: 30px;
    height: 3px;
    background: #ffffff;
}

.imgunderheader {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.BigImage {
    display: block;
    width: 1440px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.burgerImage {
    position: relative;
    display: block;
    bottom: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-width: 13px;
    border-style: solid;
    border-color: #FDEADC;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 #00000040;
}

.underH1 {
    position: relative;
    display: flex;
    bottom: 100px;
    flex-direction: column;
    align-items: center;
}

.BurgerHausplusRezension {
    display: flex;
    align-items: center;
    gap: 20px;
}

.burger_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgersmall,
.pizzasmall,
.saladsmall {
    background-color: #e76c1f;
    height: 92px;
    opacity: 1;
    display: flex;
    align-items: center;
    gap: 20px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    background-color: #363534;
}
.maxwidth1440{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 42px;
}
.burgerSmallImage,
.pizzaSmallImage,
.saladSmallImage {
    width: 150px;
    height: 150px;
}

.shoppingcartsection {
    position: fixed;
    /* fixed = bleibt beim Scrollen sichtbar */
    top: 280px;
    /* Abstand von oben */
    right: 0;
    /* Abstand von rechts */
    z-index: 9999;
    /* sehr hoher Wert, damit es über allem liegt */
    background: white;
    /* Hintergrund, um Überlagerungen klar zu machen */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #363534;
    width: 400px;
    height: 700px;
}

.menu-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fdeadc;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.burger-content-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}   
.remove-from-cart-button {
    cursor: pointer;
    color: red;
    font-weight: bold;
}
.add-to-cart-button {
    cursor: pointer;
    background-color: #e76c1f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}