.LogoLinksHeader {
    display: flex;
    align-items: center;
    width: 200px;
    object-fit: cover;
    object-position: center;
}

.imgunderheader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BigImage {
    display: flex;
    max-width: 100%;
    width: 1440px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content-menu-basket {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.menu-wrapper {
    width: 1440px;
    flex-grow: 0;
    position: relative;
    right: 0;
    z-index: 1;
}

.shoppingcartsectionwrapper {
    flex-grow: 0;
    position: relative;
    left: 0;
    z-index: 2;
}

.shoppingcartsection {
    display: block;
    width: 380px;
    height: 700px;
    position: sticky;
    top: 0;
    right: 0;
    background-color: #363534;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 4px 8px 0 #00000040;
}

.shoppingcartsectionOpen {
    display: none;
    width: 380px;
    height: 700px;
    position: fixed;
    top: 90px;
    right: 0;
    background-color: #363534;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 4px 8px 0 #00000040;
    z-index: 1000;
}

.burgerImage {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-width: 13px;
    border-style: solid;
    border-color: #FDEADC;
    bottom: 100px;
    box-shadow: 0 4px 8px 0 #00000040;
}

.BI {
    height: 100px;
}

.underH1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.BurgerHausplusRezension {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.burger_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgersmall,
.pizzasmall,
.saladsmall {
    background-color: #e76c1f;
    max-width: 1920px;
    height: 92px;
    display: flex;
    align-items: center;
    gap: 20px;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    background-color: #363534;
}

.maxwidth1440 {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 42px;
}

.burgerSmallImage,
.pizzaSmallImage,
.saladSmallImage {
    width: 120px;
    height: 120px;
}

.remove-all-button {
    cursor: pointer;
    background-color: #e71f1f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

.remove-all-button:hover {
    background-color: #c50f0f;
}

.total-removeall {
    display: flex;
    flex-direction: column;
}

.cart-count {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    text-shadow: #ffffff40 1px 1px 2px;
}

.cart-empty {
    font-size: 22px;
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
    text-shadow: #ffffff40 1px 1px 2px;
}

.shoppingcartimage {
    width: 60px;
    height: 40px;
    cursor: pointer;
}

.cart-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 20px auto;
    height: 100%;
}

.countby {
    color: white;
    width: 24px;
    height: 24px;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
}
.countby:hover {
    cursor: pointer;
}

.thankyouimage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
    animation: moveImage 3s infinite alternate;
}

@keyframes moveImage {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(10px);
    }
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fdeadc;
    position: relative;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 #00000020;
}

.menu-item span {
    font-size: 20px;
    font-weight: bold;
}

.overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.burger-content-image {
    width: 330px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.add-to-cart-button {
    cursor: pointer;
    background-color: #e76c1f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 37px;
    height: 37px;
    transition: 0.3s;
    text-shadow: #000000 1px 1px 2px;
}

.add-to-cart-button:hover {
    background-color: #ffbf9a;
    transform: translateY(1px);
    text-shadow: #000000 1px 1px 2px;
}

.cart-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.food-in-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    margin-top: 10px;

}

.cartall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 0;
}

.remove-button {
    cursor: pointer;
    font-size: 16px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    filter: hue-rotate(80deg);
}

.remove-button:hover {
    filter: hue-rotate(4deg);
    transform: scale(1.1);
}

.add-button {
    cursor: pointer;
    font-size: 16px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    filter: invert(100%);
}

.add-button:hover {
    filter: invert(50%);
    transform: scale(1.1);
}

.basketPay {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

.basket span {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    display: block;
    margin: 6px 0;
}

.basketLogo {
    width: 50px;
    height: 40px;
}

.basketOpenWrapper {
    display: none;
    position: fixed;
    bottom: -70px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: sandybrown;
    border-radius: 10%;
    width: 100px;
    height: 100px;
    border: 1px solid #363534;
    box-shadow: 0 4px 8px 0 #00000040;
}

.basketOpenWrapper:hover {
    background-color: #e76c1f;
}

.basketOpenWrapper:hover::after {
    content: 'Warenkorb öffnen';
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: max-content;
    text-shadow: #000000 1px 1px 2px;
    bottom: 110px;
    background-color: sandybrown;
    left: 50%;
    padding: 10px;
    border-radius: 10px;
    transform: translateX(-50%);
}

.payment-button {
    cursor: pointer;
    background-color: #067d35;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.payment-button:hover {
    background-color: #055c27;
}

.basket_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    height: 72px;
}

.basket_footer h3 {
    font-size: 20px;
    color: #ffffff;
}

.close-cart-button {
    position: absolute;
    top: 12px;
    right: 18px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-weight: 900;
}

.close-cart-button:hover {
    color: #f2ff00;
}

.basket_header {
display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    height: 72px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.close-basket-button {
    display: none;
    background: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    font-weight: 900;
}
.order {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.basket_header h2 {
    font-size: 28px;
    color: #ffffff;
}

.stars {
    display: flex;
    cursor: pointer;
    position: relative;
}

.stars:hover::after {
    content: 'Bewerten Sie uns';
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 16px;
    width: max-content;
    bottom: 40px;
    background-color: transparent;
    left: 50%;
    transform: translateX(-50%);
}

.star {
    font-size: 2rem;
    color: gray;
    transition: color 0.2s;
}

.star.active {
    color: gold;
}

.star~.star:hover {
    color: gold;
}

.remove-from-cart-button {
    cursor: pointer;
    font-size: 20px;
    color: #e71f1f;
    background-color: transparent;
    border: none;
    margin-left: 10px;
}

.description-text {
    font-size: 18px;
    color: #363534;
    margin-top: 10px;
}

.price {
    color: #067d35;
}