.LogoLinksHeader {
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 200px;
    object-fit: cover;
    object-position: center;
}

.imgunderheader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BigImage {
    display: flex;
    max-width: 100%;
    width: 1440px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.burgerImage {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-width: 13px;
    border-style: solid;
    border-color: #FDEADC;
    bottom: 100px;
    box-shadow: 0 4px 8px 0 #00000040;
}

.BI {
    height: 100px;
}

.underH1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.BurgerHausplusRezension {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.burger_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgersmall,
.pizzasmall,
.saladsmall {
    background-color: #e76c1f;
    height: 92px;
    opacity: 1;
    display: flex;
    align-items: center;
    gap: 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    background-color: #363534;
}

.maxwidth1440 {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 42px;
}

.burgerSmallImage,
.pizzaSmallImage,
.saladSmallImage {
    width: 150px;
    height: 150px;
}

.shoppingcartsection {
    display: none;
    position: fixed;
    top: 130px;
    right: 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #363534;
    width: 530px;
    height: 700px;
    z-index: 1000;
}

.basket {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 16px;
    width: 200px;
    height: 100px;
    position: sticky;
}
.remove-all-button{
    cursor: pointer;
    background-color: #e71f1f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}
.remove-all-button:hover{
    background-color: #c50f0f;
}
.total-removeall {
    display: flex;
    flex-direction: column;
}
.cart-empty {
    text-align: center;
    position: absolute;
    display: contents;
}
.cart-empty b {
    font-size: 18px;
    color: #ffffff;
    margin-top: 20px;
}

.shoppingcartimage {
    width: 60px;
    height: 40px;
    cursor: pointer;
    margin-right: 16px;
}

.menu-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fdeadc;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 30px;
}

.menu-item span {
    font-size: 20px;
    font-weight: bold;
}

.overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.burger-content-image {
    width: 330px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.add-to-cart-button {
    cursor: pointer;
    background-color: #e76c1f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}
.add-to-cart-button:hover {
    background-color: #c65a1b;
}

.cart-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.basket_cart {
    color: white;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    top: 43px;
    right: 117px;
}

.food-in-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    margin-top: 10px;

}

.cartall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 0;
}

.remove-button {
    cursor: pointer;
    background-color: #e71f1f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 16px;
    width: 32px;
    height: 32px;
}

.basketPay {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

.basket-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
}

.payment-button {
    cursor: pointer;
    background-color: #067d35;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.payment-button:hover {
    background-color: #055c27;
}

.basket_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    height: 72px;
}
.basket_footer h3 {
    font-size: 20px;
    color: #ffffff;
}
.basket_header {
    height: 72px;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    position: relative;
}
.basket_header h2 {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}

.stars {
    display: flex;
    cursor: pointer;
}

.star {
    font-size: 2rem;
    color: gray;
    transition: color 0.2s;
}

.star.active {
    color: gold;
}

.description-text {
    font-size: 16px;
    color: #363534;
    margin-top: 10px;
}

.allContent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.price {
    color: #067d35;
}