.LogoLinksHeader {
    display: flex;
    align-items: center;
    width: 200px;
    object-fit: cover;
    object-position: center;
}

.imgunderheader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BigImage {
    display: flex;
    max-width: 100%;
    width: 1440px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content-menu-basket {
    display: flex;
}
.menu-wrapper {
    width: 100%;
}
.shoppingcartsection {
    display: block;
    width: 380px;
    height: 700px;
    position: absolute;
    top: 0;
    right:0;
    background-color: #363534;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 4px 8px 0 #00000040;
}

.shoppingcartsectionOpen {
    display: none;
    width: 380px;
    height: 700px;
    position: fixed;
    top: 90px;
    right: 0;
    background-color: #363534;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 4px 8px 0 #00000040;
    z-index: 1000;
}

.burgerImage {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-width: 13px;
    border-style: solid;
    border-color: #FDEADC;
    bottom: 100px;
    box-shadow: 0 4px 8px 0 #00000040;
}

.BI {
    height: 100px;
}

.underH1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.BurgerHausplusRezension {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.burger_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoppingcartsectionwrapper{
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px 0;
    height: max-content;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    background-color: #363534;
}

.burger-headline,
.pizza-headline,
.salat-headline {
    display: flex;
    width: 100%;
    align-items: center;
        background-color: #e76c1f;
}
.headline-image {
    width: 120px;
    height: 120px;
}

.remove-all-button {
    display: none;
    cursor: pointer;
    background-color: #e71f1f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 120px;
}

.remove-all-button:hover {
    background-color: #c50f0f;
    transform: translateY(1px);
    box-shadow: 0 4px 8px 0 #00000040;
}

.total-removeall {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cart-count {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    text-shadow: #ffffff40 1px 1px 2px;
}

.cart-empty {
    font-size: 22px;
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
    text-shadow: #ffffff40 1px 1px 2px;
}

.shoppingcartimage {
    width: 60px;
    height: 40px;
    cursor: pointer;
}

.cart-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 20px auto;
    height: 100%;
}
.menucount {
color: white;
    width: 45px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 28px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.countby {
    color: white;
    width: 24px;
    height: 24px;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    bottom: 35px;
}

.countby:hover {
    cursor: pointer;
}

.countby:hover::after {
    content: 'Artikel im Warenkorb';
    position: absolute;
    left: 100px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    width: max-content;
    text-shadow: #000000 1px 1px 2px;
    bottom: 40px;
    background-color: sandybrown;
    padding: 10px;
    border-radius: 10px;
    transform: translateX(-50%);
}
.basketOpen {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #00000040;
    width: 400px;
    height: 800px;
    margin: auto;
    background-color: #363534;
}
.dialogsection {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #ffffff20;
    border-radius: 8px;
}
.ThankYou {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fdeadc;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 #00000040;
    z-index: 2000;
}
.spacer {
    display: flex;
    max-width: 1440px;
    margin: auto;
}

.headline-menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1440px;
    margin: auto;
    gap: 20px;
    z-index: 10;
    height: 82px;
    background-color: #e76c1f;
    padding-left: 20px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 990px;
    background-color: #fdeadc;
    position: relative;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 #00000020;
}

.menu-item span {
    font-size: 20px;
    font-weight: bold;
}

.overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.burger-content-image {
    width: 330px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.add-to-cart {
    cursor: pointer;
    background-color: #e76c1f;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    width: 55px;
    height: 35px;
    transition: 0.3s;
    text-shadow: #000000 1px 1px 2px;
    transform: translateZ(10px);
}

.add-to-cart:hover {
    background-color: #ffbf9a;
    transform: translateY(1px);
    text-shadow: #000000 1px 1px 2px;
}

.cart-buttons {
    display: flex;
    align-items: center;
}

.food-in-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 10px;

}

.cartall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 0;
}

.remove-button {
    cursor: pointer;
    font-size: 16px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    filter: hue-rotate(80deg);
}

.remove-button:hover {
    filter: hue-rotate(4deg);
    transform: scale(1.1);
}

.add-button {
    cursor: pointer;
    font-size: 16px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    filter: invert(100%);
}

.add-button:hover {
    filter: invert(50%);
    transform: scale(1.1);
}

.basketPay {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    padding-right: 0px;
}

.basket span {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    display: block;
    margin: 6px 0;
}

.basketLogo {
    width: 50px;
    height: 40px;
}
.basketOpenWrapper {
    display: none;
    position: fixed;
    bottom: -27px;
    left: 20px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: sandybrown;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid #363534;
    box-shadow: 0 4px 8px 0 #00000040;
}

.basketOpenWrapper:hover {
    background-color: #e76c1f;
}

.payment-button {
    cursor: pointer;
    background-color: #067d35;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.payment-button:hover {
    background-color: #055c27;
}

.basket_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    height: 72px;
}

.basket_footer h3 {
    font-size: 20px;
    color: #ffffff;
}

.close-cart-button {
    position: absolute;
    top: 12px;
    right: 18px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-weight: 900;
}

.close-cart-button:hover {
    color: #f2ff00;
}

.basket_header {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    height: 72px;
    border-top-left-radius: 8px;
}
.quantity-input {
    width: 50px;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.thankyouimage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.close-basket-button {
    background: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    font-weight: 900;
}
.close-basket-button:hover {
    color: #00af2f;
}

.basket_header h2 {
    font-size: 28px;
    color: #ffffff;
}

.stars {
    display: flex;
    cursor: pointer;
    position: relative;
}

.stars:hover::after {
    content: 'Bewerten Sie uns';
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 16px;
    width: max-content;
    bottom: 40px;
    background-color: transparent;
    left: 50%;
    transform: translateX(-50%);
}

.star {
    font-size: 2rem;
    color: gray;
    transition: color 0.2s;
}

.star.active {
    color: gold;
}

.star~.star:hover {
    color: gold;
}

.button-container {
    display: flex;
    gap: 10px;
}

.cart-item-remove {
    cursor: pointer;
    font-size: 24px;
    color: white;
    background-color: transparent;
    border: none;
    margin-right: 10px;
}

.remove-from-cart-button {
    cursor: pointer;
    font-size: 24px;
    color: #ff0000;
    background-color: transparent;
    border: none;
    filter: drop-shadow(5px 5px 5px black);
}

.description-text {
    font-size: 20px;
    font-weight: bold;
    color: #363534;
    margin-top: 10px;
}

.price {
    color: #067d35;
}