@media (max-width:430px) {
    .shoppingcartsectionOpen {
    width: 310px;
    }
    
    .burgerImage {
        width: 120px;
        height: 120px;
    }

    .footer_links {
        display: none;
    }

    .LogoLinksHeader {
        margin-left: 20px !important;
        width: 50%;
    }

    .header_container,
    .footer_container {
        padding-inline: 5px;
        height: 80px;
    }

    .description-text {
        font-size: 18px !important;
    }

    .maxwidth1440 {
        gap: 20px;
    }

    .shoppingcartimage {
        width: 50px;
        height: 30px;
    }

    .burgerSmallImage,
    .pizzaSmallImage,
    .saladSmallImage {
        width: 100px;
        height: 100px;
    }

    p {
        font-size: 16px;
    }

    b {
        font-size: 18px;
    }

    .cartall {
        margin: 0;

    }

    .basket_footer h3 {
        font-size: 16px;
    }

    .remove-all-button {
        padding: 5px 5px;
    }
}
@media (max-width:500px) {
    .menu-item {
        width: 280px!important;
    }
}
@media (max-width:600px) {
    .basket span {
        width: 25px;
        height: 3px;
    }
    .menu-item {
        width: 100% !important;
    }

    .basket {
        padding-right: 20px;
        justify-content: end;
    }

    .shoppingcartsection {
        width: 100%;
        height: 600px;
        top: 95px;
    }

    .LogoLinksHeader {
        margin-left: 10px;
        width: 160px;
    }

    .description-text {
        font-size: 16px !important;
        font-weight: 700 !important;
    }

    a {
        font-size: 16px;
        padding: 5px 8px;
    }

    h2 {
        font-size: 36px;
        line-height: 110%;
    }

    h1 {
        font-size: 36px;
        margin-bottom: 8px;
    }

    .burger-content-image {
        width: 80% !important;
        height: 90px !important;
        margin: 10px 0;
    }

    .basket_cart {
        position: static;
    }
}

@media (max-width:850px) {
    .allContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .button-container {
        display: unset !important;
    }

    .basket_footer h3 {
        font-size: 18px;
    }

    .shoppingcartsection {
        height: 500px;
        width: 100% !important;
        top: 90px;
    }

    .burger-content-image {
        width: 100%;
        height: 200px;
    }

    .menu-item {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 550px;
    }

    .add-to-cart-button {
        margin: 10px auto 10px auto;
    }
    .cart-buttons {
        justify-content: center;
        gap:0px;
    }
    .cartall {
        justify-content: space-around;
    }
    .burgerSmallImage,
    .pizzaSmallImage,
    .saladSmallImage {
        width: 120px;
        height: 120px;
    }

    .description-text {
        display: contents;
    }

    b {
        font-size: 20px;
        width: 32px;
    }

    .description-text {
        font-size: 20px;
    }
}

@media (max-width:1030px) {
    .description-text {
        padding: 10px;
        width: 320px !important;
        font-size: 22px;
    }
}

@media (max-width:1267px) {
    .close-basket-button {
    display: flex;
    }
    .close-basket-button:hover {
        cursor: pointer;
        background-attachment: fixed;
    }
    .shoppingcartsection {
        display: none;
    }
    .basketOpenWrapper {
        display: flex;
    }
    .menu-wrapper {
        justify-content: center;
        align-items: center;
    }
    .menu-wrapper {
        justify-content: center;
        align-items: center;
        width: 1440px;
        margin: 0 auto;
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}