* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Palanquin', sans-serif;
}

header {
    background-color: #e76c1f;
    width: 100%;
    z-index: 1001;
}
main {
    min-height: calc(100vh - 256px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer {
    background-color: #e76c1f;
    width: 100%;
    box-shadow: 0 -4px 8px 0 #00000040;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}

.header_container {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 10px;
}

.footer_container {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 10px;
}

p {
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    font-family: 'Palanquin', sans-serif;
}
.added {
    font-size: 16px;
   color: #ffffff;
    font-family: 'Palanquin', sans-serif;
}
a {
    font-size: 24px;
    text-decoration: none;
    color: beige;
    font-family: 'Palanquin', sans-serif;
    padding-right: 32px;
    padding-left: 32px;
}

b {
    font-weight: bold;
    font-size: 24px;
    color: #e76c1f;
    text-shadow: #c7c7c7 1px 1px 2px;
    width: 42px;
}

.BurgerHausplusRezension b {
    font-size: 28px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
    color: #000000;
    font-weight: bold;
    background: linear-gradient(to right, #e76c1f 58%, rgb(0, 0, 0) 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Palanquin', sans-serif;
}

h2 {
    color: #FFFFFF;
    text-align: center;
    font-family: Palanquin;
    font-weight: 700;
    font-size: 54px;
    line-height: 120%;
}

h3 {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Palanquin', sans-serif;
}

.main_section {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.page_content{
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
}